.titulo {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo_movil);
  line-height: 3rem;
  letter-spacing: -0.045rem;
  text-transform: none;
  color: var(--color_primario);

  @media screen and(min-width:37.5rem) {
    & {
      //font-size: var(--tamano_titulo);
      //line-height: 3rem;
    }
  }
}
.titulo_2 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_2_movil);
  line-height: 1.68rem;
  letter-spacing: -0.045rem;
  text-transform: uppercase;
  text-align: left;
  color: var(--color_primario);
  @media screen and(min-width:37.5rem) {
    & {
      //font-size: var(--tamano_titulo);
      //line-height: 3rem;
    }
  }
}
.titulo_3 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_3_movil);
  line-height: 1.31rem;
  letter-spacing: normal;
  text-transform: uppercase;
  orientation: landscape;
  text-align: left;
  color: var(--color_primario);
  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_titulo_3_escritorio);
      line-height: 1.68rem; /*27/16*/
    }
  }
}
.titulo_4 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_titulo_4_movil);
  line-height: 0.81rem; /*13/16*/
  text-transform: uppercase;
  color: var(--color_primario);
  writing-mode: vertical-lr;
  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_titulo_4_escritorio);
      line-height: 1.68rem; /*27/16*/
    }
  }
}
.parrafo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--tamano_parrafo_movil);
  line-height: 1.0625rem;
  text-align: left;
  color: var(--color_primario);
  @media screen and(min-width:37.5rem) {
    & {
      font-size: var(--tamano_parrafo_escritorio);
      line-height: 1.68rem; /*27/16*/
    }
  }
}
.normal {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--tamano_normal_escritorio);
  line-height: 1.0625rem;
  text-align: left;
  color: var(--color_primario);
  @media screen and(min-width:37.5rem) {
    & {
      //font-size: var(--tamano_parrafo_escritorio);
      //line-height: 1.68rem;/*27/16*/
    }
  }
}
