.titulo {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo);
  line-height: 3rem;
  letter-spacing: -0.045rem;
  text-transform: none;
  color: var(--color_primario);
}
.titulo_2 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_2);
  line-height: 1.68rem;
  letter-spacing: -0.045rem;
  text-transform: uppercase;
  text-align: left;
  color: var(--color_primario);
}
.titulo_3 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--tamano_titulo_3);
  line-height: 1.31rem;
  letter-spacing: normal;
  text-transform: uppercase;
  orientation: landscape;
  text-align: left;
  color: var(--color_primario);
}
.titulo_4 {
}
.parrafo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--tamano_parrafo);
  line-height: 1.0625rem;
  text-align: center;
  color: var(--color_primario);
}
.enlace {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: inherit;
  line-height: inherit;
  color: var(--color_primario);
}
