.titulo {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--tamano_titulo);
  line-height: 3rem;
  letter-spacing: -0.045rem;
  text-transform: none;
  color: var(--color_primario);
}
.parrafo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--tamano_parrafo);
  line-height: 1.0625rem;
  text-align: center;
  color: var(--color_primario);
}
.enlace {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: inherit;
  line-height: inherit;
  color: var(--color_primario);
}
