.encabezado {
  width: 100%;
  margin-top: 1.07rem;
  @media screen and (min-width: 37.5rem) {
    width: 95%;
    @include display_flex(row, flex-start, center);
  }
  @media screen and (min-width: 50rem) {
    width: 80%;
  }
}
