.pie_pagina {
  margin-top: 8.43rem;/*134/16*/
  width: 100%;

  .normal_pie_pagina {
    text-align: center;
    color: var(--color_secundario_gris);

    .enlace_pie_pagina {
      font-weight: bold;
      color: inherit;
    }
  }
}
