.pie_pagina {
  margin-top: 8.43rem;
  padding: 0 0 1.5rem;
  width: 100%;

  .normal_pie_pagina {
    text-align: center;
    color: var(--color_secundario_gris);

    .enlace_pie_pagina {
      font-weight: bold;
      color: inherit;
    }
  }
}
