.pie_pagina {
  width: 100%;
  height: 10%;
  margin-top: 8.43rem;
  padding: 0 0 1.5rem;
  @include display_flex(row, center, center);
  .pie_pagina_parrafo {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-align: center;
    color: var(--color_del_pie_pagina);

    .pie_pagina_enlace {
      font-family: inherit;
      text-align: inherit;
      font-size: 1rem;
      line-height: inherit;
      font-weight: bolder;
      color: var(--color_del_texto_default);
      font-style: italic;
    }
  }
}
