@mixin display-grid($minimo, $relleno, $fila) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minimo, 1fr));
  grid-auto-rows: $fila;
  grid-gap: $relleno;
}
@mixin display_flex($direccion, $eje_principal, $eje_secundario) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $eje_principal;
  align-items: $eje_secundario;
}
