:root {
  //color
  --color_primario: #000000;
  --color_secundario_gris: #a9a9a9;

  //fuentes de tamaños
  --tamano_titulo: 2.25rem;
  --tamano_titulo_2: 1.12rem;
  --tamano_titulo_3: 0.87rem;
  --tamano_titulo_4: 0.62rem;
  --tamano_titulo_5: 0.75rem;
  --tamano_parrafo: 0.875rem;

  //rellenos
  --relleno_movil_home: 18.93% 3.2% 0; /* [(71/375)*100],[(12/375)*100] */
  --relleno_escritorio_home: 7.63% 16.87% 0; /* [(110/1440)*100],[(243/1440)*100] */

  //anchos
  --ancho_maximo_home: 90rem;
}
