:root {
  //color
  --color_primario: #000000;
  --color_secundario_gris: #a9a9a9;

  //fuentes de tamaños

  --tamano_titulo: 2.25rem;
  --tamano_titulo2: 1.12rem;
  --tamano_titulo3: 0.87rem;
  --tamano_titulo4: 0.62rem;
  --tamano_parrafo: 0.875rem;
}
