:root {
  //color
  --color_primario: #000000;
  --color_secundario_gris: #a9a9a9;

  //fuentes de tamaños
  --tamano_titulo_movil: 2.25rem; /* (36/16)*/
  --tamano_titulo_2_movil: 1.12rem; /* (17.92/16)*/
  --tamano_titulo_3_movil: 0.87rem; /* (14/16)*/
  --tamano_titulo_4_movil: 0.62rem; /* (10/16)*/
  --tamano_titulo_5_movil: 0.75rem; /* (12/16)*/
  --tamano_parrafo_movil: 0.87rem; /* (14/16)*/
  --tamano_normal_escritorio: 0.87rem; /* (14/16)*/

  --tamano_titulo_3_escritorio: 1.12rem; /* (18/16)*/
  --tamano_titulo_4_escritorio: 0.75rem; /* (12/16)*/
  --tamano_parrafo_escritorio: 1.12rem; /* (18/16)*/

  //interlineado
  --interlineado_titulo_movil:3rem;/*48/16*/
  --interlineado_titulo_2_movil:1.68rem;/*20/16*/
  --interlineado_titulo_3_movil:1.68rem;/*20/16*/
  --interlineado_titulo_4_movil:0.81rem; /*13/16*/
  --interlineado_parrafo_movil:1.06rem;/*17/16*/
  --interlineado_normal_movil:1.06rem;/*17/16*/

  --interlineado_titulo_3_escritorio: 1.68rem; /*27/16*/
  --interlineado_titulo_4_escritorio:1.68rem; /*27/16*/
  --interlineado_parrafo_escritorio:1.68rem; /*27/16*/


  //rellenos
  --relleno_movil_home: 4.43rem .75rem 0; /* (71/16) , (12/16)  */
  --relleno_escritorio_home: 6.87rem 15.18rem; /* (110/16) , (243/16)  */

  //anchos
  --ancho_maximo_home: 90rem; /*1440/16*/
}


