.bienvenido {
  & > * + * {
    margin-top: 0.625rem;
  }
  .titulo2_bienvenido {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: var(--tamano_titulo2);
    line-height: 1.68rem;
    text-transform: uppercase;
  }
  .parrafo_bienvenido {
    text-align: left;
    font-weight: 400;
    font-size: var(--tamano_titulo3);
    line-height: 1.31rem;
  }
}
//ESCRITORIO
@media screen and (min-width: 64rem) {
  .bienvenido {
    margin-top: 0;
    flex-basis: 42.53%; /* 100 - 14.93 */
    .titulo2_bienvenido,
    .parrafo_bienvenido {
      font-size: var(--tamano_titulo2);
      line-height: 1.68rem;
    }
    .parrafo_bienvenido {
      font-weight: normal;
    }
  }
}
