.bienvenido {
  & > * + * {
    margin-top: 0.625rem;
  }
  .titulo {
    color: var(--color_del_texto_default);
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  .bienvenido_titulo {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.68rem;
    text-transform: uppercase;
  }
  .bienvenido_parrafo {
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.31rem;
  }
}
@media screen and (min-width: 37.5rem) {
  .bienvenido {
    flex-basis: 50%;
    .bienvenido_parrafo {
      font-weight: normal;
      font-size: 1.12rem;
      line-height: 1.68rem;
    }
    .bienvenido_titulo {
      font-size: 1.12rem;
      line-height: 1.68rem;
    }
  }
}
