.figura {
  @include display_flex(row, center, flex-start);
  & > * + * {
    margin-left: 2.13%; /* (8/375)*100 */
  }
  .imagen_figura {
    width: calc(100% - 5% - 2.13%);
    border-radius: 0.5rem;
  }
}
