.figura {
  div {
    @include display_flex(row, center, flex-start);
    img {
      background-color: rgba(157, 68, 68, 0.083);
    }
    h6 {
      writing-mode: vertical-lr;
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.625rem;
      line-height: 0.8125rem;
      text-transform: uppercase;
    }
  }
  figcaption {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }
  &:nth-child(2n) {
    margin-top: 1rem;
  }
  @media screen and (min-width: 37.5em) {
    & {
      h1 {
        font-size: 0.75rem;
      }
      figcaption {
        font-size: 1.125rem;
      }
    }
    &:nth-child(2n) {
      margin-top: 0;
    }
    &:nth-child(2) {
      margin-top: 1rem;
    }
    &:nth-child(5) {
      margin-top: 1rem;
    }
  }
}
