.tarjeta {
  margin: 0;
  &:nth-child(2n) {
    //margin-left: 2.93%;
    margin-top: 20.83%;
  }
  .figura {
    min-height: 25vmax;
    @include display_flex(row, center, flex-start);
    .titulo4_figura_lateral {
      writing-mode: vertical-lr;
      font-weight: normal;
      font-size: var(--tamano_titulo4);
      line-height: 0.81rem;
      text-transform: uppercase;
    }
  }
  .titulo3_tarjeta {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: var(--tamano_titulo3);
    line-height: 1.31rem;
    text-transform: uppercase;
    orientation: landscape;
  }
}
@media screen and(min-width:64rem) {
  .tarjeta {
    &:nth-child(2n) {
      margin-top: 0;
    }
    &:nth-child(2),
    &:nth-child(5) {
      margin-top: 20.83%;
    }
    .titulo4_figura_lateral {
      font-size: 0.75rem;
      line-height: 1rem;
    }
    .titulo3_tarjeta {
      font-size: 1.12rem;
      line-height: 1.68rem;
    }
  }
}
