.tarjeta {
  margin: 0;
  & > * + * {
    margin-top: 0.5rem;
  }
  &:nth-child(2n) {
    margin-top: 2rem;
  }
  .titulo {
    color: var(--color_del_texto_default);
    font-style: normal;
    text-transform: uppercase;
  }
  .figura {
    @include display_flex(row, center, flex-start);
    .figura_lateral_titulo {
      writing-mode: vertical-lr;
      font-family: "PT Serif";
      font-weight: normal;
      font-size: 0.62rem;
      line-height: 0.81rem;
    }
  }
  .tarjeta_titulo {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 1.31rem;
    text-transform: capitalize;
    orientation: landscape;
  }
}
@media screen and (min-width: 37.5em) {
  .tarjeta:nth-child(2n) {
    margin-top: 0;
  }
  .tarjeta:nth-child(2) {
    margin-top: 1rem;
  }
  .tarjeta:nth-child(5) {
    margin-top: 1rem;
  }
}
@media screen and(min-width:50rem) {
  .tarjeta {
    .figura_lateral_titulo {
      font-size: 0.75rem;
      line-height: 1rem;
    }
    .tarjeta_titulo {
      font-size: 1.12rem;
      line-height: 1.68rem;
    }
  }
}

/*
font-family: PT Serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
*/
