.tarjeta {
  margin: 0;
  & > * + * {
    margin-top: 1.13%; /* (16/1409)*100 */
  }
  &:nth-child(2n) {
    margin-top: 20.83%; /* (293.49/1409)*100*/
  }
}
//ESCRITORIO
@media screen and(min-width:37rem) {
  .tarjeta {
    &:nth-child(2n) {
      margin-top: 0;
    }
    &:nth-child(2),
    &:nth-child(5) {
      margin-top: 20.83%;
    }
  }
}
