.titulo {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.045rem;
  text-transform: none;
  color: var(--color_primario);
}
